 @font-face{
    font-family: Poppins;
    src: url(Poppins/Poppins-Regular.ttf);
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

main{
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 70px;
    background-color: #4F2777;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    padding: 15px;
}

.pataMenu{
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.pataMenu img{
    width: 100%;
    height: 100%;
}

.areaDePesquisa{
    padding-left: 100px;
}

.barraDePesquisa{
    width: 430px;
    height: 40px;
    color:#CCCCCC;
    padding-left: 25px;
    box-sizing: border-box;
}

.areaDePesquisa input{
    background-color: #C25DE2;
    border-radius: 20px;
    outline: 0;
}

.areaDePesquisa input::placeholder {
    color:#CCCCCC;
}

.areaIcones{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-sizing: border-box;
    cursor: pointer;
}

.icone{
    cursor: pointer;
}

img{
    width:100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 50px;
    background-color: #4F2777;
    padding-top: 10px;
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
}

#nav{
    width: 700px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-sizing: border-box;
    margin: auto;
}

.nav{
    margin: auto;
    padding: auto;
    color: #FAB900;
    font-size: 20px;
    cursor: pointer;
}

.nav:hover{
    text-decoration:underline;
}

.linhaDivisoria{
    width: 100%;
    height: 2px;
    background-color: #FAB900;
    position: absolute;
    z-index: 7;
    margin-top: 50px;
    box-sizing: border-box;
}

.areaLogo{
    width: 100%;
    height: 390px;
    background-color: #4F2777;
    float: left;
    display: flex;
    position: absolute;
    z-index: 0;
}

.imgCachorro{
    width: 700px;
    height: 450px;
    float: left;
    margin-left: 150px;
    position: absolute;
    top: 15px;
    background-image: url(elementos_visuais/cachorro_home_semFundo.png);
    background-size: cover; 
}

.logo{
    width: 760px;
    height: 420px;
    float: left;
    margin-left: 430px;
    background: url(logo_marcas/logo.png);
    background-size: cover;
}

.carrosselPragandas{
    width: 100%;
    height: 250px;
    float:left;
    position: absolute;
    z-index: 9;
    margin-top: 390px;
    box-sizing: border-box;
    background-color: #fff;
    align-items: center;
}

.slider{
    width: 98%;
    height: 230px;
    overflow: hidden;
    margin-left: 1%;
    box-sizing: border-box;
}

.slides{
    width: 400%;
    height: 230px;
    display: flex;
    margin-top: 10px;
    box-sizing: border-box;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 100%;
}

.slides img{
    width: 100%;
    height: 100%;
}

.manual-navigation{
    position: relative;
    width: 1320px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.manual-btn{
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.349);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgba(0, 0, 0, 0.349);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 1px solid;
    border-color: rgba(0, 0, 0.0.8);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 1320px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgba(0, 0, 0, 0.349);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgba(0, 0, 0, 0.349);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgba(0, 0, 0, 0.349);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgba(0, 0, 0, 0.349);
}

.maisProcurados{
    width: 100%;
    height: 495px;
    margin-top: 640px;
}

.areaTituloProcurados{
    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: row;
    position: absolute;
}

.detalheDireito{
    width: 15%;
    height: 120px;
}

.textoTitulo{
    width: 70%;
    height: 120px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    background-color: #fff;
}

#textTitulos{
    font-size: 40px;
    color: #4F2777;
}

.detalheEsquerdo{
    width: 15%;
    height: 120px;
}

.fotoGatinho{
    width: 15%;
    height: 130px;
    position: absolute;
    z-index: 5;
    top: -5px;
    left:1145px;
}
/*  */
.carrosselMaisProcurados{
    width: 100%;
    height: 375px;
    background-color: #fff;
    position: absolute;
    top: 830px;
    z-index: 5;
    box-sizing: border-box;
}

.carousel{
    width: 100%;
    height: 345px;
}

.carousel-item{
    width: 100%;
    height: 345px;
    background-color: #fff;
    margin-top: 15px;
}
 .card-1{
    width: 250px;
    height: 345px;
    position: absolute;
    z-index: 15;
    margin-left: 140px;
    align-items: center;
    border: 2px solid #F1ECEC;
    box-sizing: border-box;
    border-radius: 10px;
}

.card-2{
    width: 250px;
    height: 345px;
    position: absolute;
    z-index: 15;
    margin-left: 415px;
    align-items: center;
    border: 2px solid #F1ECEC;
    box-sizing: border-box;
    border-radius: 10px;
}
.card-3{
    width: 250px;
    height: 345px;
    position: absolute;
    z-index: 15;
    margin-left: 690px;
    align-items: center;
    border: 2px solid #F1ECEC;
    box-sizing: border-box;
    border-radius: 10px;
}

.card-4{
    width: 250px;
    height: 345px;
    position: absolute;
    z-index: 15;
    margin-left: 965px;
    align-items: center;
    border: 2px solid #F1ECEC;
    box-sizing: border-box;
    border-radius: 10px;
} 
 .card-5{
    width: 250px;
    height: 345px;
    position: absolute;
    z-index: 15;
    margin-left: 140px;
    align-items: center;
    border: 2px solid #F1ECEC;
    box-sizing: border-box;
    border-radius: 10px;
}

.card-6{
    width: 250px;
    height: 345px;
    position: absolute;
    z-index: 15;
    margin-left: 415px;
    align-items: center;
    border: 2px solid #F1ECEC;
    box-sizing: border-box;
    border-radius: 10px;
}
.card-7{
    width: 250px;
    height: 345px;
    position: absolute;
    z-index: 15;
    margin-left: 690px;
    align-items: center;
    border: 2px solid #F1ECEC;
    box-sizing: border-box;
    border-radius: 10px;
}

.card-8{
    width: 250px;
    height: 345px;
    position: absolute;
    z-index: 15;
    margin-left: 965px;
    align-items: center;
    border: 2px solid #F1ECEC;
    box-sizing: border-box;
    border-radius: 10px;
} 

.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: rgb(79, 39, 119);
    border-radius: 20px;
}

.areaImgCard{
    width: 200px;
    height: 120px;
    margin:25px;
}

.imgCard{
    width: 120px;
    height: 120px;
    margin: auto;
}

.areaTituloProduto{
    width: 200px;
    height: 45px; 
    text-align: justify;
    margin: auto;
}

.tituloProduto{
    font-size: 14.5px;
}

.primeiroValorProduto{
    width: 200px;
    height: 30px; 
    margin: auto;
    box-sizing: border-box;
}

.valorNegrito{
    width: 100px;
    height: 30px;
    float: left;
    padding-top: 2px;
    box-sizing: border-box;
    padding:0 ;
}

#valorNegrito{
    font-size: 14px;
    font-weight: 700;
}

.espacoEstrelaProduto{
    float: left;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
}

.espacoEstrelaProduto img{
    margin: 0 5px 0 48px;
    width: 16px;
    height: 16px;
    float: left;
}

#notaAvaliacao{
    font-size: 14.5px;
    margin-left: 15px;
}

.valoresProduto{
    width: 200px;
    height: 70px;
    margin: auto;
}

.valorCinza{
    width: 200px;
    height: 15px;
    top: 0px;
}

#valorCinza{
    color: #B2AEAE;
    font-size: 12px;
}

#valorCinzaHigiene{
    color: #B2AEAE;
    font-size: 12px;
}

.aereaBalaoDesconto{
    width: 200px;
    height: 30px;
}

#balaoDesconto{
    margin-top: 5px;
    width: 100px;
    height: 30px;
    background: #FAB900;
    border-radius: 50px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    margin-left: -5px;
}

.valorRoxo{
    font-size: 15px;
    color: #4F2777;
    font-weight: 600;
    margin-bottom: 2px;
}

.valorAssinantes{
    width: 100px;
    height: 50px;
    margin-top: 5px;
}

.valorRoxoMenor{
    font-size: 11px;
    color: #4F2777;
    margin-top: -3px;
}

.racoesVendidas{
    width: 100%;
    height: 495px;
    box-sizing: border-box;
}

.areaTituloRacoes{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
}

.foto_pote_racao{
    width: 15%;
    height: 120px;
    position: absolute;
    z-index: 5;
    top: 1200px;
    left: 5px;
}

.brinquedosAcessorios{
    width: 100%;
    height: 495px;
    box-sizing: border-box;
}

.areaTituloBrinquedos{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.foto_cachorro_bola{
    width: 18%;
    height: 180px;
    position: absolute;
    z-index: 5;
    top: 1640px;
    left: 1106px;
}

.produtosHigiene{
    width: 100%;
    height: 495px;
    box-sizing: border-box;
}

.areaTituloHigiene{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.cachorroBanho{
    width: 15%;
    height: 150px;
    position: absolute;
    z-index: 5;
    top: 2180px;
    left: 25px;
}

.cachorroBanho img{
    width: 100%;
    height: 260px;
    margin-top: -100px;
}

.detalheEsquerdoHigiene{
    width: 16%;
    height: 120px;
}

.detalheDireitoHigiene{
    width: 14%;
    height: 120px;
}

.areaTitulo{
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 40px 0 0 400px;
}
.carrosselRacoes{
    width: 100%;
    height: 375px;
}

.carrosselBrinquedos{
    width: 100%;
    height: 375px;
}

.carrosselHigiene{
    width: 100%;
    height: 375px;
}

.carrosselMarcas{
    width: 100%;
    height: 180px;   
}

.wrapperMarcas{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px ;
}

.sliderMarcas{
    width: 1200px;
    height: 140px;
    position: relative;
    background:white;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
    display: flex;
    overflow: hidden;
}

.slideMarcas{
    height: 140px;
    display: flex;
    align-items: center;
    animation: slideshow 20s linear infinite;
}

.slideMarcas img{
    width: 200px;
    height: 120px;
    padding: 0 20px 0 20px;
}

@keyframes slideshow{
    0%{ transform: translateX(0); }
    100%{ transform: translateX(-100%);}
}



.areaDelivery{
    width: 100%;
    height: 500px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
}

 .areaTextoDelivery{
    width: 60%;
    height: 500px;
}

.textoDeliveryGrande{
    color: #4F2777;
    font-size: 38px;
    padding: 100px 0 25px 0; 
    box-sizing: border-box;
} 

.textoDeliveryMenor{
    color: #4F2777;
    font-size: 30px;
    padding-bottom:25px; 
    box-sizing: border-box;
}

.botaoWhats{
    margin: auto;
    width: 400px;
    height: 80px;
    background: #29D468;
    text-align: center;
    cursor: pointer;
}

.textoBotao{
    color: #fff;
    font-size: 20px;
    padding-top: 25px;
}

.areaImgDelivery{
    width: 50%;
    height: 500px;
    box-sizing: border-box;
    background-image: url(elementos_visuais/motoqueirp.jpg);
    background-size: cover;
}


.areaCadastroPromocoes{
    width: 100%;
    height: 100px;
    background-color: #4F2777;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    float: left;
}

.areaTextoCadastro{
    width: 400px;
    height: 100%;
    color: #FAB900;
    box-sizing: border-box;
    padding: 20px 0 0 40px;
}

#textoCadastro{
    font-size: 15px;    
}

.areaBotoesCadastro{
    width: 1300px;
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    float: left;
}

.espacoEmail{
    margin: auto;
}

input{
    background-color: #FAB900;
    border-radius: 20px;
    outline: 0;
}

.inserirEmail{
    width: 430px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 25px;
    background-color: #FAB900;
    color: #4F2777;
}

.espacoSelecionePet{
    margin: auto;
}

.qualPet{
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 25px;
    float: left;
    background-color: #FAB900;
    color: #4F2777;
}

input::placeholder {
    color:#4F2777;
}

#img_osso{
    width: 172px;
    height: 60px;
    margin: auto;
    float: left;
    background-image: url(elementos_visuais/osso_cadastrar.png);
    background-size: cover;
    cursor: pointer;
}

.textBotaoCadastro{
    padding: 10px 5px 10px 25px;
    font-size: 25px;
    color: #4F2777;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #4F2777;
    box-sizing: border-box;
    display: flex;
    padding: auto;
    color: #FAB900;
}

.titFooter{
    font-size: 30px;
}

.textFooter{
    font-size: 18px;
}

.textFooter:hover{
    text-decoration:underline;
}

.categorias{
    margin-top: 50px;
    box-sizing: border-box;
    width: 25%;
    height: 200px;
    padding-left: 40px;
}

.marcasFooter{
    margin-top: 50px;
    width: 20%;
    height: 200px;
}

.areaInstitucional{
    margin-top: 50px;
    width: 25%;
    height: 200px;
}

.areaContato{
    margin-top: 50px;
    width: 30%;
    height: 250px;
    text-align: center;
}

.imgRedesSocias{
    width: 30%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.iconeRedeSocial{
    width: 40%;
    height: 50px;
    cursor: pointer;
}

.iconeRedeSocial img{
    width: 100%;
    border-radius: 50px;
}

.iconeRedeSocialInsta{
    width: 46%;
    height: 55px;
    margin-top: -1px;
    border-radius: 50px;
    cursor: pointer;
}

.endereco{
    width: 100%;
    height: 50px;
}

.textoEndereco{
    font-size: 11px;
    padding-top: 50px;
}