*{
    margin: 0;
    padding: 0;
}

.wrapperMarcas{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderMarcas{
    width: 1000px;
    height: 140px;
    position: relative;
    background:white;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
    display: flex;
    overflow: hidden;
}

.slideMarcas{
    height: 140px;
    display: flex;
    align-items: center;
    animation: slideshow 8s linear infinite;
}

.slideMarcas img{
    width: 200px;
    height: 120px;
    padding: 0 20px 0 20px;
}

@keyframes slideshow{
    0%{ transform: translateX(0); }
    100%{ transform: translateX(-100%);}
}